
<h1>Cadastro</h1>
<form action="/cadastro" method="post">
    <input type="text" name="nome" placeholder="Nome">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="senha" placeholder="Senha">
    <input type="submit" value="cadastrar">
</form>
