<div class="card">
<h1>Cadastro</h1>
<form action="/cadastro" method="post">
    <div class="form">
    <div class="input">
        <input type="text" name="nome" placeholder="Nome">
    </div>
    <div class="input">
        <input type="email" name="email" placeholder="E-mail">
    </div>
    <div class="input">
        <input type="password" name="senha" placeholder="Senha">
    </div>
    <div class="submit">
        <input type="submit" value="cadastrar">
    </div>
    </div>
</form>
<p style="font-size: 1.2vw;">Ja possui uma conta? <a href="/login">Faça login</a></p>
</div>