<div class="card">
<h1>Login</h1>
<form action="/login" method="post">
    <div>
    <div class="input">
        <input type="text" name="email" placeholder="Email">
    </div>
    <div class="input">
        <input type="password" name="senha" placeholder="Senha">
    </div>
    <div class="submit">
        <input type="submit" value="Entrar">
    </div>
</div>
</form>
<p style="font-size: 1.2vw;">Ainda não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
</div>