*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4vw;
}
input{
    margin-top: 1vw;
    min-width: 20vw;
    border-radius: 10px;
    border: 2px solid #ffce51;
    padding: 3px;
    margin: 0px 0px 8px -5px;
    font-size: 1.5vw;
}
.input input{
    margin-top: 1vw;
    width: 20vw;
    border: 2px solid #ffce51;
    outline: none;
    transform: translateY(-10%);
    color:#ffce51;
    font-size: 1.5vw;
}

.submit input{
    width: 10vw;
    height: 3vw;
    border-radius: 10px;
    background-color: #ffce51;
    color: white;
    font-size: 1.5vw;
    margin-top: 1vw;
}

header{
    width: 100%;
    height: 12vw;
    padding: 1.5vw;
    background-color: #ffce51;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-title{
    text-align: center;
    flex-grow: 1; 
    color: white;
}

.center-title h2 {
    margin: 0; 
}

.right-logout {
    margin-left: 10px; 
}
footer{
    width: 100%;
    height: 12vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754, #aabbcc);
}
.card{
    width: 25vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px;
    color: #ffce51;
}

#titulo{
    color: white;
    margin-left: 2vw;
    margin-top: 0.5vw;
}
.card-pessoas{
    background-color: white;
    width: 45vw;
    height: 25vw;
    border-radius: 10px;
    padding: 0.8vw;
    margin-left: 2vw;
    margin-top: 1vw;
    color: #ffce51;
    float: left;
    margin-bottom: 2vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.normal{
    padding: 5px;
    width: 20vw;
    height: 3.3vw;
    border: 2px solid #ffce51;
    border-radius: 10px;
    margin-top: 0.5vw;
    float: left;
    font-size: 1vw;
}

.image{
    width: 20vw;
    height: 23vw;
    float: left;
    margin-left: 0.5vw;
    margin-right: 2vw;
    border: 2px solid #ffce51;
}

image img{
    width: 20vw;
    height: 23vw;
    
}
.delete{
    margin-left: 1vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 3vw;
    width: 3vw;
    border-radius: 100px;
    margin-top: 1vw;  
    border: solid 2px red;
    float: left; 
}

.delete i {
    max-width: 1.667vw; 
    max-height: 1.667vw; 
    color: red;
}

.editar{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 3vw;
    width: 3vw;
    border-radius: 100px;
    margin-top: 1vw;
    border: solid 2px green; 
    float: left;
    
}

.editar i {
    max-width: 1.667vw; 
    max-height: 1.667vw; 
    color: green;
}

.cadastrar{
    margin: auto;
    margin-top: 1vw;
    width: 45vw;
    height: 25vw;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.cadastra input{
    margin-top: 0.2vw;
}

.button input{
    margin-top: 1vw;
    width: 10vw;
    background-color: #ffce51;
    color : white
}
#imagem{
    width: 8vw;
    height: 23vw;
    float: left;
    margin-left: 0.5vw;
    margin-right: 2vw;
}

