<header>
    <div class="center-title">
        <h2> CADASTRE-ME </h2>
    </div>
        <div class="rigth-logout">
        <% if (locals.layoutsVariables.user) { %>
            <p>
                Olá, <%- locals.layoutsVariables.user.nome %>
                <a href="/logout" class="btn-primary">
                    <i class="bi bi-box-arrow-in-left"></i> logout
                </a>                
            </p>
        <% } %>
    </div>
</header>
